# Resource DB
RESOURCE_DB_NAME=resource_service
RESOURCE_DB_USER=postgres
RESOURCE_DB_PASSWORD=postgres
RESOURCE_DB_URL=jdbc:postgresql://resource-db:5432/resource_service

# Song DB
SONG_DB_NAME=song_service
SONG_DB_USER=postgres
SONG_DB_PASSWORD=postgres
SONG_DB_URL=jdbc:postgresql://song-db:5432/song_service

# Eureka Server URL (used by all microservices for service discovery)
EUREKA_SERVER_URL=http://eureka-server:8761/eureka
